# Lab Questions
1. Import the Pandas library and display its version.
2. Explain the relationship between Pandas and NumPy.
3. Create a Pandas Series from:
• A Python list,
• A NumPy array,
• A dictionary.
4. Demonstrate the use of .index, .values, and .dtype attributes.
5. Write a short explanation of when you would prefer Pandas over Python lists or NumPy arrays.
6. Create a DataFrame using a dictionary of lists containing employee information (Name, Department,
Salary).
7. Display the shape, size, and data types of the DataFrame.
8. Access:
• A single column,
• Multiple columns,
• A specific cell using .loc and .iloc.
9. Perform arithmetic operations between two Series objects with mismatched indices and observe
data alignment.
10. Add a new column to the DataFrame containing calculated values (e.g., annual salary = Salary
* 12).
11. Rename columns and index labels, and reset the index.
12. Create a DataFrame of 100 random records with columns: Student ID, Marks, Attendance, and
Grade.
13. Select data using:
• Label-based indexing (.loc[]),
• Integer-based indexing (.iloc[]).
14. Slice the first 10 rows and last 5 rows; display specific subsets of columns.
15. Use conditional selection to display:
• Students with marks above 80 and attendance above 75%,
• Students with grade ’A’ or ’B’.
16. Demonstrate .query() and .isin() for advanced filtering.
17. Create a view of your DataFrame, modify it, and explain how Pandas handles copy/view behavior.

1

18. Create a DataFrame with both numeric and string columns containing missing (NaN) values.
19. Identify missing values using .isnull() and .notnull().
20. Drop missing data:
• Entire rows containing NaN,
• Columns where more than 50% values are missing using the thresh= parameter.
21. Fill missing values:
• With constants,
• With column mean, median, or mode,
• Using forward-fill and backward-fill methods.
22. Discuss pros and cons of dropping vs imputing data.
23. Load or create a dataset with columns: Date, Region, Product, Sales, Profit, and Discount.
24. Convert Date to datetime and set it as the index.
25. Handle missing or inconsistent data using cleaning techniques.
26. Add calculated columns:
• Profit Margin (%) = (Profit / Sales) × 100,
• Discounted Revenue = Sales × (1 { Discount).
27. Group data by Region and Product to compute:
• Mean and sum of Sales and Profit,
• Custom aggregation: average profit margin per product.
28. Import a dataset of your choice (e.g., CSV file of sales, attendance, or finance).
29. Clean, preprocess, and explore the data.
30. Use indexing, selection, grouping, and aggregation to generate insights.
31. Handle missing or inconsistent entries appropriately.
32. Conclude your analysis with observations and recommendations.

## 1. Import the Pandas library and display its version

In [1]:
import pandas as pd
print(pd.__version__)

2.2.2

## 2. Explain the relationship between Pandas and NumPy

Pandas: is built on top of NumPy.

NumPy: handles numerical operations efficiently using arrays, while Pandas adds data structures like Series and DataFrame that make handling tabular and labeled data much easier.

## 3. Create a Pandas Series from:
(a) A Python list

In [2]:
s1 = pd.Series([10, 20, 30, 40])
print(s1)

0    10
1    20
2    30
3    40
dtype: int64

## (b) A NumPy array

In [3]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
s2 = pd.Series(arr)
print(s2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

## (c) A dictionary

In [4]:
data = {'a': 100, 'b': 200, 'c': 300}
s3 = pd.Series(data)
print(s3)

a    100
b    200
c    300
dtype: int64

## 4. Demonstrate .index, .values, and .dtype attributes

In [5]:
print("Index:", s1.index)
print("Values:", s1.values)
print("Data Type:", s1.dtype)

Index: RangeIndex(start=0, stop=4, step=1)
Values: [10 20 30 40]
Data Type: int64

## 5. When to prefer Pandas over Python lists or NumPy arrays

When working with labeled data (columns/rows with names).

When performing data cleaning, filtering, or joining operations.

Pandas is more suitable for data analysis, while lists and NumPy arrays are better for simple numerical tasks.

## 6. Create a DataFrame using a dictionary of lists

In [8]:
data = {
    'Name': ['Ali', 'Sara', 'John'],
    'Department': ['HR', 'IT', 'Finance'],
    'Salary': [40000, 55000, 50000]
}
df = pd.DataFrame(data)
print(df)

   Name Department  Salary
0   Ali         HR   40000
1  Sara         IT   55000
2  John    Finance   50000

## 7. Display shape, size, and data types

In [9]:
print("Shape:", df.shape)
print("Size:", df.size)
print("Data Types:\n", df.dtypes)

Shape: (3, 3)
Size: 9
Data Types:
 Name          object
Department    object
Salary         int64
dtype: object

# 8. Access data
(a) Single column

In [10]:
print(df['Name'])

0     Ali
1    Sara
2    John
Name: Name, dtype: object

(b) Multiple columns

In [11]:
print(df[['Name', 'Salary']])

   Name  Salary
0   Ali   40000
1  Sara   55000
2  John   50000

(c) Specific cell using .loc and .iloc

In [12]:
print(df.loc[1, 'Department'])   # Label-based
print(df.iloc[2, 2])            # Index-based

IT
50000

## 9. Arithmetic operations between two Series (mismatched indices)

In [13]:
s1 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
s2 = pd.Series([1, 2, 3], index=['b', 'c', 'd'])
print(s1 + s2)

a     NaN
b    21.0
c    32.0
d     NaN
dtype: float64

## 10. Add new column (Annual Salary)

In [14]:
df['Annual_Salary'] = df['Salary'] * 12
print(df)

   Name Department  Salary  Annual_Salary
0   Ali         HR   40000         480000
1  Sara         IT   55000         660000
2  John    Finance   50000         600000

## 11. Rename columns and reset index

In [15]:
df.rename(columns={'Name': 'Employee_Name', 'Department': 'Dept'}, inplace=True)
df.reset_index(drop=True, inplace=True)
print(df)

  Employee_Name     Dept  Salary  Annual_Salary
0           Ali       HR   40000         480000
1          Sara       IT   55000         660000
2          John  Finance   50000         600000

## 12. Create a DataFrame of 100 random student records

In [16]:
import numpy as np

students = pd.DataFrame({
    'Student_ID': range(1, 101),
    'Marks': np.random.randint(50, 100, 100),
    'Attendance': np.random.randint(60, 100, 100),
    'Grade': np.random.choice(['A', 'B', 'C', 'D'], 100)
})
print(students.head())

   Student_ID  Marks  Attendance Grade
0           1     80          85     A
1           2     77          79     C
2           3     87          91     D
3           4     97          85     B
4           5     99          95     B

## 13. Select data using:
(a) Label-based indexing (.loc[])

In [17]:
print(students.loc[0:5, ['Student_ID', 'Marks']])

   Student_ID  Marks
0           1     80
1           2     77
2           3     87
3           4     97
4           5     99
5           6     52

## (b) Integer-based indexing (.iloc[])

In [18]:
print(students.iloc[0:5, 0:3])

   Student_ID  Marks  Attendance
0           1     80          85
1           2     77          79
2           3     87          91
3           4     97          85
4           5     99          95

## 14. Slice rows and display columns

In [19]:
print(students.head(10))   # First 10 rows
print(students.tail(5))    # Last 5 rows
print(students[['Marks', 'Grade']])  # Specific columns

   Student_ID  Marks  Attendance Grade
0           1     80          85     A
1           2     77          79     C
2           3     87          91     D
3           4     97          85     B
4           5     99          95     B
5           6     52          68     A
6           7     52          63     C
7           8     83          77     B
8           9     53          82     B
9          10     98          96     C
    Student_ID  Marks  Attendance Grade
95          96     51          60     A
96          97     92          93     C
97          98     76          96     B
98          99     83          85     C
99         100     55          73     D
    Marks Grade
0      80     A
1      77     C
2      87     D
3      97     B
4      99     B
..    ...   ...
95     51     A
96     92     C
97     76     B
98     83     C
99     55     D

[100 rows x 2 columns]

## 15. Conditional selection

In [20]:
# Marks > 80 and Attendance > 75
print(students[(students['Marks'] > 80) & (students['Attendance'] > 75)])

# Grade is A or B
print(students[students['Grade'].isin(['A', 'B'])])

    Student_ID  Marks  Attendance Grade
2            3     87          91     D
3            4     97          85     B
4            5     99          95     B
7            8     83          77     B
9           10     98          96     C
14          15     84          85     A
23          24     97          97     B
29          30     98          92     A
30          31     97          95     D
38          39     86          88     A
43          44     93          77     C
56          57     93          86     A
57          58     82          76     C
58          59     85          94     C
61          62     96          90     D
72          73     94          86     B
73          74     81          98     D
81          82     83          90     B
82          83     86          95     B
87          88     97          80     D
90          91     89          86     B
91          92     93          77     A
96          97     92          93     C
98          99     83          85     C
    Student_ID  Marks  Attendance Grade
0            1     80          85     A
3            4     97          85     B
4            5     99          95     B
5            6     52          68     A
7            8     83          77     B
8            9     53          82     B
10          11     68          91     B
11          12     60          61     A
12          13     82          74     B
13          14     76          62     A
14          15     84          85     A
15          16     86          66     A
17          18     91          65     A
20          21     59          79     B
21          22     78          81     A
22          23     97          67     A
23          24     97          97     B
24          25     67          90     A
27          28     78          61     B
29          30     98          92     A
31          32     61          72     B
38          39     86          88     A
40          41     69          77     B
41          42     92          70     A
42          43     76          69     B
44          45     70          77     A
45          46     76          86     A
48          49     74          61     B
51          52     96          64     B
55          56     58          62     B
56          57     93          86     A
60          61     69          88     A
62          63     56          86     B
63          64     72          98     A
64          65     79          60     B
65          66     65          68     B
68          69     52          65     B
69          70     66          84     B
70          71     52          74     B
71          72     91          69     B
72          73     94          86     B
79          80     59          99     A
80          81     80          95     A
81          82     83          90     B
82          83     86          95     B
84          85     74          68     A
85          86     56          72     A
86          87     83          61     A
88          89     55          85     A
89          90     99          63     A
90          91     89          86     B
91          92     93          77     A
92          93     54          79     A
94          95     75          73     A
95          96     51          60     A
97          98     76          96     B

## 16. Using .query() and .isin()

In [21]:
# Using query
print(students.query('Marks > 85 and Attendance > 80'))

# Using isin
print(students[students['Grade'].isin(['A', 'B'])])

    Student_ID  Marks  Attendance Grade
2            3     87          91     D
3            4     97          85     B
4            5     99          95     B
9           10     98          96     C
23          24     97          97     B
29          30     98          92     A
30          31     97          95     D
38          39     86          88     A
56          57     93          86     A
61          62     96          90     D
72          73     94          86     B
82          83     86          95     B
90          91     89          86     B
96          97     92          93     C
    Student_ID  Marks  Attendance Grade
0            1     80          85     A
3            4     97          85     B
4            5     99          95     B
5            6     52          68     A
7            8     83          77     B
8            9     53          82     B
10          11     68          91     B
11          12     60          61     A
12          13     82          74     B
13          14     76          62     A
14          15     84          85     A
15          16     86          66     A
17          18     91          65     A
20          21     59          79     B
21          22     78          81     A
22          23     97          67     A
23          24     97          97     B
24          25     67          90     A
27          28     78          61     B
29          30     98          92     A
31          32     61          72     B
38          39     86          88     A
40          41     69          77     B
41          42     92          70     A
42          43     76          69     B
44          45     70          77     A
45          46     76          86     A
48          49     74          61     B
51          52     96          64     B
55          56     58          62     B
56          57     93          86     A
60          61     69          88     A
62          63     56          86     B
63          64     72          98     A
64          65     79          60     B
65          66     65          68     B
68          69     52          65     B
69          70     66          84     B
70          71     52          74     B
71          72     91          69     B
72          73     94          86     B
79          80     59          99     A
80          81     80          95     A
81          82     83          90     B
82          83     86          95     B
84          85     74          68     A
85          86     56          72     A
86          87     83          61     A
88          89     55          85     A
89          90     99          63     A
90          91     89          86     B
91          92     93          77     A
92          93     54          79     A
94          95     75          73     A
95          96     51          60     A
97          98     76          96     B

## 18. Create a DataFrame with both numeric and string columns containing missing (NaN) values

In [22]:

data = {
    'Name': ['Ali', 'Sara', np.nan, 'John', 'Zara'],
    'Age': [25, np.nan, 30, 28, np.nan],
    'Department': ['HR', 'IT', 'Finance', None, 'HR'],
    'Salary': [40000, 50000, np.nan, 48000, 52000]
}

df_nan = pd.DataFrame(data)
print(df_nan)

   Name   Age Department   Salary
0   Ali  25.0         HR  40000.0
1  Sara   NaN         IT  50000.0
2   NaN  30.0    Finance      NaN
3  John  28.0       None  48000.0
4  Zara   NaN         HR  52000.0

## 19. Identify missing values using .isnull() and .notnull()

In [26]:
print(df_nan.isnull().sum())      # True where value is missing

Name          1
Age           2
Department    1
Salary        1
dtype: int64

## 20. Drop missing data
(a) Drop rows containing any NaN

In [27]:
df_drop_rows = df_nan.dropna()
print(df_drop_rows)

  Name   Age Department   Salary
0  Ali  25.0         HR  40000.0

(b) Drop columns with more than 50% missing values

In [28]:
df_drop_cols = df_nan.dropna(thresh=len(df_nan)*0.5, axis=1)
print(df_drop_cols)

   Name   Age Department   Salary
0   Ali  25.0         HR  40000.0
1  Sara   NaN         IT  50000.0
2   NaN  30.0    Finance      NaN
3  John  28.0       None  48000.0
4  Zara   NaN         HR  52000.0

## 21. Fill missing values
## (a) With constants

In [29]:
df_fill_const = df_nan.fillna({'Age': 0, 'Name': 'Unknown'})
print(df_fill_const)

      Name   Age Department   Salary
0      Ali  25.0         HR  40000.0
1     Sara   0.0         IT  50000.0
2  Unknown  30.0    Finance      NaN
3     John  28.0       None  48000.0
4     Zara   0.0         HR  52000.0

## (b) With column mean, median, or mode

In [31]:
df_fill_mean = df_nan.copy()
df_fill_mean['Age'].fillna(df_fill_mean['Age'].mean(), inplace=True)
df_fill_mean['Salary'].fillna(df_fill_mean['Salary'].median(), inplace=True)
df_fill_mean['Department'].fillna(df_fill_mean['Department'].mode()[0], inplace=True)
print(df_fill_mean)

   Name        Age Department   Salary
0   Ali  25.000000         HR  40000.0
1  Sara  27.666667         IT  50000.0
2   NaN  30.000000    Finance  49000.0
3  John  28.000000         HR  48000.0
4  Zara  27.666667         HR  52000.0

/tmp/ipython-input-3382975144.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_fill_mean['Age'].fillna(df_fill_mean['Age'].mean(), inplace=True)
/tmp/ipython-input-3382975144.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_fill_mean['Salary'].fillna(df_fill_mean['Salary'].median(), inplace=True)
/tmp/ipython-input-3382975144.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_fill_mean['Department'].fillna(df_fill_mean['Department'].mode()[0], inplace=True)

## (c) Using forward-fill and backward-fill

In [32]:
df_ffill = df_nan.fillna(method='ffill')
df_bfill = df_nan.fillna(method='bfill')
print(df_ffill)
print(df_bfill)

   Name   Age Department   Salary
0   Ali  25.0         HR  40000.0
1  Sara  25.0         IT  50000.0
2  Sara  30.0    Finance  50000.0
3  John  28.0    Finance  48000.0
4  Zara  28.0         HR  52000.0
   Name   Age Department   Salary
0   Ali  25.0         HR  40000.0
1  Sara  30.0         IT  50000.0
2  John  30.0    Finance  48000.0
3  John  28.0         HR  48000.0
4  Zara   NaN         HR  52000.0

/tmp/ipython-input-2427094883.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df_nan.fillna(method='ffill')
/tmp/ipython-input-2427094883.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df_nan.fillna(method='bfill')

## 23. Create dataset with Date, Region, Product, Sales, Profit, Discount

In [35]:
data = {
    'Date': pd.date_range('2025-01-01', periods=8),
    'Region': ['North', 'South', 'East', 'West', 'North', 'East', 'South', 'West'],
    'Product': ['A', 'B', 'A', 'C', 'B', 'C', 'A', 'B'],
    'Sales': [200, 300, 400, 250, 400, 350, 340, 280],
    'Profit': [50, 80, 40, 55, 90, 70, 60, 50],
    'Discount': [0.10, 0.15, 0.05, 0.5, 0.20, 0.10, 0.15, 0.05]
}
sales_df = pd.DataFrame(data)
print(sales_df)

        Date Region Product  Sales  Profit  Discount
0 2025-01-01  North       A    200      50      0.10
1 2025-01-02  South       B    300      80      0.15
2 2025-01-03   East       A    400      40      0.05
3 2025-01-04   West       C    250      55      0.50
4 2025-01-05  North       B    400      90      0.20
5 2025-01-06   East       C    350      70      0.10
6 2025-01-07  South       A    340      60      0.15
7 2025-01-08   West       B    280      50      0.05

## 24. Convert Date to datetime and set it as index

In [36]:
sales_df['Date'] = pd.to_datetime(sales_df['Date'])
sales_df.set_index('Date', inplace=True)
print(sales_df)

           Region Product  Sales  Profit  Discount
Date
2025-01-01  North       A    200      50      0.10
2025-01-02  South       B    300      80      0.15
2025-01-03   East       A    400      40      0.05
2025-01-04   West       C    250      55      0.50
2025-01-05  North       B    400      90      0.20
2025-01-06   East       C    350      70      0.10
2025-01-07  South       A    340      60      0.15
2025-01-08   West       B    280      50      0.05

## 26. Add calculated columns

In [38]:
sales_df['Profit_Margin(%)'] = (sales_df['Profit'] / sales_df['Sales']) * 100
sales_df['Discounted_Revenue'] = sales_df['Sales'] * (1 - sales_df['Discount'])
print(sales_df.head(5))

           Region Product  Sales  Profit  Discount  Profit_Margin(%)  \
Date
2025-01-01  North       A    200      50      0.10         25.000000
2025-01-02  South       B    300      80      0.15         26.666667
2025-01-03   East       A    400      40      0.05         10.000000
2025-01-04   West       C    250      55      0.50         22.000000
2025-01-05  North       B    400      90      0.20         22.500000

            Discounted_Revenue
Date
2025-01-01               180.0
2025-01-02               255.0
2025-01-03               380.0
2025-01-04               125.0
2025-01-05               320.0

## 27. Group data by Region and Product

In [39]:
# Mean and sum of Sales and Profit
group_stats = sales_df.groupby(['Region', 'Product'])[['Sales', 'Profit']].agg(['mean', 'sum'])
print(group_stats)

# Custom aggregation: average profit margin per product
avg_margin = sales_df.groupby('Product')['Profit_Margin(%)'].mean()
print(avg_margin)

                Sales      Profit
                 mean  sum   mean sum
Region Product
East   A        400.0  400   40.0  40
       C        350.0  350   70.0  70
North  A        200.0  200   50.0  50
       B        400.0  400   90.0  90
South  A        340.0  340   60.0  60
       B        300.0  300   80.0  80
West   B        280.0  280   50.0  50
       C        250.0  250   55.0  55
Product
A    17.54902
B    22.34127
C    21.00000
Name: Profit_Margin(%), dtype: float64

## 28. Import a dataset (example: CSV file)

In [40]:
df = pd.read_csv("/content/customers.csv")
print(df.head())

   customer_id first_name last_name date_of_birth  phone_number      city
0            1     Ayesha      Khan    1990-05-15  555-123-4567   Karachi
1            2      Ahmed     Malik    1985-08-20  555-234-5678  Peshawar
2            3       Sana    Sheikh    1979-11-10  555-345-6789    Quetta
3            4      Hamza  Chaudhry    1995-02-25  555-456-7890    Lahore
4            5       Hina   Qureshi    1987-04-30  555-567-8901   Karachi

## 29. Clean, preprocess, and explore the data

In [41]:
df.describe()

       customer_id
count   100.000000
mean     50.500000
std      29.011492
min       1.000000
25%      25.750000
50%      50.500000
75%      75.250000
max     100.000000

In [42]:
df.isnull().sum()

customer_id      0
first_name       0
last_name        0
date_of_birth    0
phone_number     0
city             0
dtype: int64

## Group by City

In [44]:
city_group = df.groupby('city')['customer_id'].mean().reset_index()
print(city_group)

       city  customer_id
0   Karachi    48.310345
1    Lahore    48.027778
2  Peshawar    51.142857
3    Quetta    60.428571